html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
outline: none;
}
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }
body {font-family: 'Noto Sans KR', sans-serif;position:fixed; top:0; left:0; width: 100%; height:100%;background: #222;}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
$point-yello:#FED205;
$point-red:#D13A28;
$point:#000;
/*page */
.wrap {overflow-y:scroll;height:100vh;position: relative;}
#header {position: fixed; top:0; left:0; width: 100%; z-index:10;
    .inside {max-width:1200px; margin:0 auto; position: relative;}
    h1.logo {position: absolute; top:15px; left:0; color: #fff; font-size: 30px;font-weight: bold;
        a {color: #fff;}
    }
    ul {position: absolute; right:0; top:20px;
        li {display: inline-block; font-size: 14px; margin-left: 15px;
            a {color: #fff;
                &:hover {text-decoration: none; color: $point-yello;}
            }
        }
    }
}
#nav {position: fixed; right:40px; top:50%; transform:translateY(-50%);
    li { margin-bottom: 10px;
        a {text-indent:-9999px; width:10px; height:10px; display: block; border-radius:50%; border: 1px solid $point-yello;}
    }
}
.page {min-height:100vh;
    .inside {position: relative; z-index:2; min-height:100vh; max-width:1200px; margin:0 auto;}
    &.intro {background:url(../images/bg_intro.jpg); background-size:cover;
        .text-box {position: absolute; top:50%; transform:translateY(-50%); width: 100%;}
        .page-tit {color: #fff; font-size: 70px;font-weight: bold; margin-bottom: 50px; letter-spacing: 1px;}
        .page-txt {color: #fff; font-size: 24px; margin-bottom: 20px;letter-spacing: 1px;}
        &:after {content:"";position: absolute; top:0; left:0; width: 100%; height:100%; background: #000; opacity:0.6;}
        .profile-list {
            li {color: #fff; font-size: 18px; margin-bottom: 15px;
                span.tit {color:#fff; position: relative;  padding-left: 10px;
                    &:before {content:""; width: 4px; height:4px;display: inline-block; border-radius:50%; background: $point-yello;  position: absolute; top:50%; left:0; transform:translateY(-50%);}
                    &:after {content:":";color:#fff; display: inline-block; margin:0 5px;}
                }
                span.txt {}
            }
        }
    }
    &.skill {
        
        .skill-wrap { max-width:1300px; margin:0 auto; display: flex;-webkit-box-align:center; min-height:100vh;align-items:center; flex-wrap:wrap; padding:50px;box-sizing: border-box;
            header {text-align: center; width: 100%; margin-bottom: 30px;
                h2.page-title {color: #fff; font-size: 60px;font-weight: bold; margin-bottom: 15px;}
                p.txt {color: #fff; font-size: 20px; line-height: 28px;}
            }
            .inner {display: flex;  }
            .box {background:#fff; flex:1; margin-left: 20px;  padding:25px;box-sizing: border-box; flex:1;  margin-bottom: 20px;
                &:first-child {margin-left: 0;}
                .tit {position: relative; text-align: center; font-size: 56px;display: block; margin-bottom: 25px; padding-bottom: 25px;
                    &:after {content:"";position: absolute; bottom:0; width: 60px; height:2px; background: $point-red; left:50%; transform:translateX(-50%);}
                }
                p.skill-para {text-align: center; font-size: 18px; margin-bottom: 20px; line-height: 25px;}
                li {font-size: 14px; margin-top: 10px; position: relative; padding-left: 10px; line-height: 20px;word-break:keep-all;
                    &:first-child {margin-top: 0;}
                    &:before {content:""; position: absolute; top:10px; left:0; width:4px; height:4px; border-radius: 50%; background: $point-yello; display: inline-block; }
                }
            }
        
        }
    }
    &.portfolio {
        $point:#fff;
        .inner {max-width:1200px; margin:0 auto; column-count:3; 
            column-gap:20px; 
            .portfolio-box {background: #fff; border-radius:8px; overflow:hidden; margin-bottom: 20px;-webkit-column-break-inside: avoid;-moz-column-break-inside: avoid;column-break-inside: avoid;
                .portfolio-box-inner {padding:15px;}
                .image {max-width:100%; text-align: center; 
                    a {} 
                }
                .title {font-size: 25px; margin-bottom: 15px;display: block;}
                .list {}
                li {font-size: 14px; margin-bottom: 10px; display:table; line-height: 20px;}
                .list-title {display:table-cell; width:60px;font-weight: bold;}
                .list-para {display:table-cell;
                    a {color: #D65DB1;}
                }
            }
        }
    }
} 
.point-yello {color: $point-yello;}
.point-red {color: $point-red;}
.en {font-family: 'PT Sans', sans-serif;}